In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from sklearn.metrics import r2_score
%matplotlib inline

df = pd.read_csv('./Historical_DOB_Permit_Issuance.csv')
df.head()

C:\Users\yanlu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (8,9,10,15,31,33,36,51) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,BOROUGH,BIN,Number,Street,Job #,Job doc. #,Job Type,Self_Cert,Block,Lot,...,Owner’s House State,Owner’s House Zip Code,Owner's Phone #,DOBRunDate,Latitude,Longitude,Council District,Census Tract,BBL,NTA
0,BRONX,2118801,2960,WEBSTER AVENUE,201088492,4,NB,NaN,3274,4,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.867490,-73.883225,11.0,425.0,2.032740e+09,Norwood ...
1,BRONX,2096812,100,DEKRUIF PLACE,200716298,2,A2,NaN,5141,120,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.875769,-73.828899,12.0,46201.0,2.051410e+09,Co-op City ...
2,BRONX,2008604,1898,HARRISON AVENUE,200974650,2,A2,NaN,2869,87,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.852603,-73.911461,14.0,243.0,2.028690e+09,University Heights-Morris Heights ...
3,BRONX,2007652,1998,MORRIS AVENUE,200278118,2,A1,NaN,2807,15,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.851661,-73.906937,14.0,241.0,2.028070e+09,Mount Hope ...
4,BRONX,2084155,565,WEST 235 STREET,201119173,2,A2,Y,5794,484,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.885720,-73.910270,11.0,297.0,2.057940e+09,Spuyten Duyvil-Kingsbridge ...

What fraction of all construction permits in this data set correspond to renewed permits? The filing type is recorded under column 'Filing Status'. For first-time permits the value in this column is 'INITIAL' and for renewed permits it is 'RENEWAL'.

In [2]:
rows = df.shape[0]
rows

2428526

In [3]:
columns = df.shape[1]
columns

60

In [4]:
df['Filing Status'].value_counts()

INITIAL    1851583
RENEWAL     576943
Name: Filing Status, dtype: int64

Consider only those permits that were issued for more than 365 days. The date on which a permit was issued is recorded in column 'Issuance Date', the date the permit expires is in column 'Expiration Date'. What fraction of these at least year-long permits were issued in the borough with the highest number of such permits? The borough where the construction will take place is in column 'BOROUGH'.

In [12]:
df['Issuance Date'] = pd.to_datetime(df['Issuance Date'])
df['Issuance Date']

0         2010-11-05
1         2012-01-30
2         2008-02-04
3         1998-08-31
4         2007-04-30
             ...
2428521   2003-10-08
2428522   1997-07-28
2428523   1999-07-09
2428524   1996-06-25
2428525   1999-09-20
Name: Issuance Date, Length: 2428526, dtype: datetime64[ns]

In [37]:
df['Year'] = pd.DatetimeIndex(df['Issuance Date']).year
df['Year']

0          2010
1          2012
2          2008
3          1998
4          2007
           ...
2428521    2003
2428522    1997
2428523    1999
2428524    1996
2428525    1999
Name: Year, Length: 2428526, dtype: int64

In [14]:
df['Expiration Date'] = pd.to_datetime(df['Expiration Date'])
df['Expiration Date']

0         2011-11-05
1         2013-01-29
2         2009-02-03
3         1999-08-31
4         2008-01-08
             ...
2428521   2004-04-24
2428522   1998-07-10
2428523   2000-07-08
2428524   1997-06-07
2428525   2000-01-01
Name: Expiration Date, Length: 2428526, dtype: datetime64[ns]

In [30]:
date_diff = (df['Expiration Date'] - df['Issuance Date']).astype('timedelta64[D]')
date_diff

0          365.0
1          365.0
2          365.0
3          365.0
4          253.0
           ...
2428521    199.0
2428522    347.0
2428523    365.0
2428524    347.0
2428525    103.0
Length: 2428526, dtype: float64

In [ ]:
df['BOROUGH'].value_counts()

In [31]:
df.groupby['BOROUGH']((df['Expiration Date'] - df['Issuance Date']))

TypeError: 'method' object is not subscriptable

Observe how the number of issued permits changes accross the years. Limit your analysis to years 1990-2012 (both inclusive). What is the coefficient of determination (R squared) between the year a permit was issued and the number of issued permits that year? The column recording the date when a permit was issued is called 'Issuance Date'.

In [59]:
df.groupby(['Year'])['Number'].size()

Year
1989      3047
1990     23659
1991     45784
1992     52486
1993     57928
1994     61050
1995     63135
1996     66746
1997     72796
1998     82740
1999     91859
2000    101503
2001    105737
2002    111963
2003    122632
2004    137668
2005    150170
2006    155959
2007    158336
2008    150437
2009    135825
2010    136259
2011    143966
2012    148546
2013     48295
Name: Number, dtype: int64

In [ ]:
new_df =

In [ ]:
R2 = r2_score(y, f)